name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      source_image:
        description: 'source image (Docker Hub)'
        required: true
        default: 'vllm/vllm-openai:v0.14.0' 
      target_tag:
        description: 'target Tag (ebcloud)'
        required: true
        default: 'v0.14.0'

env:
  # REGISTRY: ghcr.io
  # IMAGE_NAME: yzhu802/vllm-omni-sync
  # REGISTRY: crpi-sd1f4vtsmcd6kney.cn-qingdao.personal.cr.aliyuncs.com
  # IMAGE_NAME: yzhu802/vllm-omni
  REGISTRY: registry-cn-huabei1.ebcloud.com/tenant-37383037
  IMAGE_NAME: yzhu802/vllm

jobs:
  sync-image:
    runs-on: ubuntu-latest
    steps:
      # 清理磁盘空间，腾出约 30GB 空间
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false # 不要删 docker 基础环境
          swap-storage: true

      - name: Log in to Aliyun Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Pull & Tag & Push
        run: |
          # 1. 拉取源镜像
          echo "正在拉取镜像，文件较大请耐心等待..."
          docker pull ${{ inputs.source_image }}
          
          # 2. 打标为阿里云格式
          TARGET_IMAGE="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.target_tag }}"
          docker tag ${{ inputs.source_image }} $TARGET_IMAGE
          
          # 3. 推送
          echo "正在推送镜像到阿里云..."
          docker push $TARGET_IMAGE
          
          echo "✅ 同步完成！"
          echo "你的镜像地址是: $TARGET_IMAGE"
