name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      source_image:
        description: 'source image (Docker Hub)'
        required: true
        default: 'vllm/vllm-omni:v0.12.0rc1' 
      target_tag:
        description: 'target Tag (GHCR)'
        required: true
        default: 'v0.12.0rc1'

env:
  # REGISTRY: ghcr.io
  # IMAGE_NAME: yzhu802/vllm-omni-sync
  REGISTRY: crpi-sd1f4vtsmcd6kney.cn-qingdao.personal.cr.aliyuncs.com
  IMAGE_NAME: yzhu802/vllm-omni

jobs:
  sync-image:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Aliyun Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Pull & Tag & Push
        run: |
          # 1. 拉取源镜像
          docker pull ${{ inputs.source_image }}
          
          # 2. 打标为阿里云格式
          TARGET_IMAGE="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.target_tag }}"
          docker tag ${{ inputs.source_image }} $TARGET_IMAGE
          
          # 3. 推送
          docker push $TARGET_IMAGE
          
          echo "✅ 同步完成！"
          echo "你的镜像地址是: $TARGET_IMAGE"
